

<!DOCTYPE html>
<html class="writer-html5" lang="zh-hans" >
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>曲线部件 &mdash; Blender Manual</title>
  

  
  <link rel="stylesheet" href="../../../_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" />
  <link rel="stylesheet" href="../../../_static/css/theme_overrides.css" type="text/css" />

  
  
    <link rel="shortcut icon" href="../../../_static/favicon.ico"/>
  
  
  
    <link rel="canonical" href="https://docs.blender.org/manual/en/latest/interface/controls/templates/curve.html"/>
  

  
  <!--[if lt IE 9]>
    <script src="../../../_static/js/html5shiv.min.js"></script>
  <![endif]-->
  
    
      <script type="text/javascript" id="documentation_options" data-url_root="../../../" src="../../../_static/documentation_options.js"></script>
        <script src="../../../_static/jquery.js"></script>
        <script src="../../../_static/underscore.js"></script>
        <script src="../../../_static/doctools.js"></script>
        <script src="../../../_static/language_data.js"></script>
        <script src="../../../_static/js/version_switch.js"></script>
        <script async="async" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/latest.js?config=TeX-AMS-MML_HTMLorMML"></script>
    
    <script type="text/javascript" src="../../../_static/js/theme.js"></script>

    
    <link rel="search" type="application/opensearchdescription+xml"
          title="Search within Blender Manual"
          href="../../../_static/opensearch.xml"/>
    <link rel="alternate" hreflang="en" href="https://docs.blender.org/manual/en/latest/">
    <link rel="alternate" hreflang="de" href="https://docs.blender.org/manual/de/latest/">
    <link rel="alternate" hreflang="es" href="https://docs.blender.org/manual/es/latest/">
    <link rel="alternate" hreflang="fi" href="https://docs.blender.org/manual/fi/latest/">
    <link rel="alternate" hreflang="fr" href="https://docs.blender.org/manual/fr/latest/">
    <link rel="alternate" hreflang="it" href="https://docs.blender.org/manual/it/latest/">
    <link rel="alternate" hreflang="ja" href="https://docs.blender.org/manual/ja/latest/">
    <link rel="alternate" hreflang="ko" href="https://docs.blender.org/manual/ko/latest/">
    <link rel="alternate" hreflang="nb" href="https://docs.blender.org/manual/nb/latest/">
    <link rel="alternate" hreflang="pt" href="https://docs.blender.org/manual/pt/latest/">
    <link rel="alternate" hreflang="ru" href="https://docs.blender.org/manual/ru/latest/">
    <link rel="alternate" hreflang="sl" href="https://docs.blender.org/manual/sl/latest/">
    <link rel="alternate" hreflang="sr" href="https://docs.blender.org/manual/sr/latest/">
    <link rel="alternate" hreflang="uk" href="https://docs.blender.org/manual/uk/latest/">
    <link rel="alternate" hreflang="vi" href="https://docs.blender.org/manual/vi/latest/">
    <link rel="alternate" hreflang="zh-Hans" href="https://docs.blender.org/manual/zh-hans/latest/">
    <link rel="alternate" hreflang="zh-Hant" href="https://docs.blender.org/manual/zh-hant/latest/">
    <link rel="alternate" hreflang="x-default" href="https://docs.blender.org/manual/en/latest/">
    
    <link rel="index" title="Index" href="../../../genindex.html" />
    <link rel="search" title="Search" href="../../../search.html" />
    <link rel="copyright" title="Copyright" href="../../../copyright.html" />
    <link rel="next" title="Search" href="operator_search.html" />
    <link rel="prev" title="Color Palette" href="color_palette.html" /> 
</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">
    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search" >
          

          
            <a href="../../../index.html" class="icon icon-home" alt="Documentation Home"> Blender 2.90 Manual
          

          
            
            <img src="../../../_static/blender-logo.svg" class="logo" alt="Logo"/>
          
          </a>

          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        
        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../../../getting_started/index.html">Blender入门</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="../../index.html">用户界面</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="../../splash.html">启动画面</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../index.html#window-system">窗口系统</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../index.html#keymap">键位映射</a></li>
<li class="toctree-l2 current"><a class="reference internal" href="../../index.html#interface-controls">界面控件</a><ul class="current">
<li class="toctree-l3"><a class="reference internal" href="../../index.html#buttons-and-controls">按钮与控件</a></li>
<li class="toctree-l3 current"><a class="reference internal" href="../../index.html#extended-controls">扩展控件</a><ul class="current">
<li class="toctree-l4"><a class="reference internal" href="data_block.html">数据块菜单</a></li>
<li class="toctree-l4"><a class="reference internal" href="list_presets.html">列表视图 &amp; 预设</a></li>
<li class="toctree-l4"><a class="reference internal" href="color_picker.html">拾色器</a></li>
<li class="toctree-l4"><a class="reference internal" href="color_ramp.html">颜色渐变部件</a></li>
<li class="toctree-l4"><a class="reference internal" href="color_palette.html">Color Palette</a></li>
<li class="toctree-l4 current"><a class="current reference internal" href="#">曲线部件</a><ul>
<li class="toctree-l5"><a class="reference internal" href="#control-points">控制点</a></li>
<li class="toctree-l5"><a class="reference internal" href="#controls">控制工具</a></li>
</ul>
</li>
<li class="toctree-l4"><a class="reference internal" href="operator_search.html">Search</a></li>
<li class="toctree-l4"><a class="reference internal" href="../nodes/index.html">节点</a></li>
</ul>
</li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../../index.html#tools">工具</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../../../editors/index.html">编辑器</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../scene_layout/index.html">场景 &amp; 物体</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../modeling/index.html">制作模型</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../sculpt_paint/index.html">雕刻 &amp; 绘制</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../grease_pencil/index.html">蜡笔</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../animation/index.html">动画 &amp; 绑定</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../physics/index.html">物理</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../render/index.html">渲染</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../compositing/index.html">合成</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../movie_clip/index.html">跟踪 &amp; 遮罩</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../video_editing/index.html">视频编辑</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../files/index.html">文件 &amp; 数据系统</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../addons/index.html">插件</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../advanced/index.html">高级应用</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../troubleshooting/index.html">问题排查</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../glossary/index.html">词汇表</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../../about/index.html">贡献文档</a></li>
</ul>

            
          
        </div>
        
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../../../index.html">Blender 2.90 Manual</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../../../index.html" class="icon icon-home"></a> &raquo;</li>
        
          <li><a href="../../index.html">用户界面</a> &raquo;</li>
        
      <li>曲线部件</li>
    
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="curve-widget">
<span id="ui-curve-widget"></span><h1>曲线部件<a class="headerlink" href="#curve-widget" title="Permalink to this headline">¶</a></h1>
<div class="figure align-right" id="id1">
<img alt="../../../_images/interface_controls_templates_curve_ui.png" src="../../../_images/interface_controls_templates_curve_ui.png" />
<p class="caption"><span class="caption-text">曲线部件。</span><a class="headerlink" href="#id1" title="Permalink to this image">¶</a></p>
</div>
<p><em>曲线部件</em> 使用户可以通过使用曲线平滑地上下调节数值，以直观的方式修改输入(如图像)。</p>
<p>输入值映射为图标上的X轴，输出值映射为Y轴。</p>
<div class="section" id="control-points">
<h2>控制点<a class="headerlink" href="#control-points" title="Permalink to this headline">¶</a></h2>
<p>和Blender中所有曲线一样， <em>曲线</em> 部件的曲线也是使用 <em>控制点</em> 控制的。</p>
<p>默认自带两个控制点：一个位于(0.0, 0.0)，另一个位于(1.0, 1.0)，意味着输入直接映射为输出(不变)。</p>
<dl class="simple">
<dt>移动</dt><dd><p>单击选中并拖动即可。</p>
</dd>
<dt>添加</dt><dd><p>在曲线任意没有控制点位置单击。</p>
</dd>
<dt>删除</dt><dd><p>选中控制点，并单击右上角的 <code class="docutils literal notranslate"><span class="pre">X</span></code> 按钮。</p>
</dd>
</dl>
</div>
<div class="section" id="controls">
<h2>控制工具<a class="headerlink" href="#controls" title="Permalink to this headline">¶</a></h2>
<p>曲线图的上方有一排控制工具，包括：</p>
<dl>
<dt>放大(放大镜图标为加号)</dt><dd><p>放大图像中间位置，以显示更多细节，并提供更精确控制。在图表的空白位置单击并拖动，即可浏览放大后的曲线。</p>
</dd>
<dt>缩小(放大镜图标为减号)</dt><dd><p>缩小曲线图表，显示细节更少，查看整个图表。缩小范围不能超出裁剪边界(见下文 <em>限制范围</em> )。</p>
</dd>
<dt>专项菜单 <code class="docutils literal notranslate"><span class="pre">v</span></code></dt><dd><p>控制点和设置属性的 <a class="reference internal" href="../buttons/menus.html#ui-specials-menu"><span class="std std-ref">专项菜单</span></a> 工具操作。</p>
<dl>
<dt>恢复视图</dt><dd><p>恢复曲线视图。</p>
</dd>
<dt>控制柄选项</dt><dd><p>Controls how the control points affect the curve shape.
It determines the interpolation of the curve segment at the selected control point.</p>
<dl class="simple">
<dt>矢量型控制柄</dt><dd><p>矢量型控制柄创建直线。破坏切向控制柄，产生角度。</p>
</dd>
<dt>自动型控制柄</dt><dd><p>自动型控制柄创建光滑的曲线。</p>
</dd>
<dt>自动钳制型控制柄</dt><dd><p>自动控制柄，可创建平滑曲线，防止过冲。</p>
</dd>
<dt>Free Handle</dt><dd><p>The handles can be moved completely independently, and thus can result in a sharp change of direction.</p>
</dd>
<dt>Aligned Free Handles</dt><dd><p>The two handles of the curve point are locked together to always point in exactly opposite directions.
This results in a curve that is always smooth at the control point.</p>
</dd>
</dl>
<table class="docutils align-default">
<colgroup>
<col style="width: 33%" />
<col style="width: 33%" />
<col style="width: 33%" />
</colgroup>
<tbody>
<tr class="row-odd"><td><div class="figure align-default" id="id2">
<img alt="../../../_images/interface_controls_templates_curve_handle-vector.png" src="../../../_images/interface_controls_templates_curve_handle-vector.png" />
<p class="caption"><span class="caption-text">矢量型控制柄.</span><a class="headerlink" href="#id2" title="Permalink to this image">¶</a></p>
</div>
</td>
<td><div class="figure align-default" id="id3">
<img alt="../../../_images/interface_controls_templates_curve_handle-auto.png" src="../../../_images/interface_controls_templates_curve_handle-auto.png" />
<p class="caption"><span class="caption-text">自动型控制柄.</span><a class="headerlink" href="#id3" title="Permalink to this image">¶</a></p>
</div>
</td>
<td><div class="figure align-default" id="id4">
<img alt="../../../_images/interface_controls_templates_curve_handle-auto-clamped.png" src="../../../_images/interface_controls_templates_curve_handle-auto-clamped.png" />
<p class="caption"><span class="caption-text">自动钳制型手柄。</span><a class="headerlink" href="#id4" title="Permalink to this image">¶</a></p>
</div>
</td>
</tr>
</tbody>
</table>
</dd>
<dt>延伸水平线</dt><dd><p>水平延伸曲线的第一点左侧和最后一点右侧。</p>
<dl class="simple">
<dt>延伸水平线</dt><dd><p>水平延伸曲线的第一点左侧和最后一点右侧。</p>
</dd>
<dt>延伸已外扩项</dt><dd><p>基于曲线形状，外插第一点左侧和最后一点右侧的曲线斜率。</p>
</dd>
</dl>
<table class="docutils align-default">
<colgroup>
<col style="width: 50%" />
<col style="width: 50%" />
</colgroup>
<tbody>
<tr class="row-odd"><td><div class="figure align-default" id="id5">
<img alt="../../../_images/interface_controls_templates_curve_extend-horizontal.png" src="../../../_images/interface_controls_templates_curve_extend-horizontal.png" />
<p class="caption"><span class="caption-text">衍射水平线。</span><a class="headerlink" href="#id5" title="Permalink to this image">¶</a></p>
</div>
</td>
<td><div class="figure align-default" id="id6">
<img alt="../../../_images/interface_controls_templates_curve_extend-extrapolate.png" src="../../../_images/interface_controls_templates_curve_extend-extrapolate.png" />
<p class="caption"><span class="caption-text">延伸已外扩项。</span><a class="headerlink" href="#id6" title="Permalink to this image">¶</a></p>
</div>
</td>
</tr>
</tbody>
</table>
</dd>
<dt>重置曲线</dt><dd><p>重置曲线为默认状态(删除所有已添加的控制点)。</p>
</dd>
</dl>
</dd>
<dt>钳制选项(点图标)</dt><dd><dl class="simple">
<dt>使用钳制</dt><dd><p>强制曲线控制点位于指定数值范围内。</p>
</dd>
<dt>最小值 X/Y 与 最大值 X/Y</dt><dd><p>设置曲线控制点的上下限。</p>
</dd>
</dl>
</dd>
<dt>删除 <code class="docutils literal notranslate"><span class="pre">X</span></code></dt><dd><p>删除控制点。第一个与最后一个控制点无法删除。</p>
</dd>
<dt>X, Y</dt><dd><p>选中的控制点的坐标。</p>
</dd>
<dt>复制/粘贴 <kbd class="kbd docutils literal notranslate"><kbd class="kbd docutils literal notranslate">Ctrl</kbd>-<kbd class="kbd docutils literal notranslate">C</kbd></kbd>, <kbd class="kbd docutils literal notranslate"><kbd class="kbd docutils literal notranslate">Ctrl</kbd>-<kbd class="kbd docutils literal notranslate">V</kbd></kbd></dt><dd><p>可以使用 <kbd class="kbd docutils literal notranslate"><kbd class="kbd docutils literal notranslate">Ctrl</kbd>-<kbd class="kbd docutils literal notranslate">C</kbd></kbd>, <kbd class="kbd docutils literal notranslate"><kbd class="kbd docutils literal notranslate">Ctrl</kbd>-<kbd class="kbd docutils literal notranslate">V</kbd></kbd> ，将整个曲线从一个曲线部件复制到另一个曲线部件。</p>
</dd>
</dl>
</div>
</div>


           </div>
           
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="operator_search.html" class="btn btn-neutral float-right" title="Search" accesskey="n" rel="next">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="color_palette.html" class="btn btn-neutral float-left" title="Color Palette" accesskey="p" rel="prev"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        
        
        &copy; <a href="../../../copyright.html">Copyright</a> : This page is licensed under a CC-BY-SA 4.0 Int. License

    </p>
  </div>
      <div class="footer-contribute">
         <ul>
            <li>
               <a href="https://developer.blender.org/diffusion/BM/browse/trunk/blender_docs/manual/interface/controls/templates/curve.rst" class="fa fa-edit"> 编辑页面</a>
            </li>
            <li>
               <a href="https://developer.blender.org/maniphest/task/edit/form/default/?description=Pagename%3A%20%60interface/controls/templates/curve%60&project=PHID-PROJ-c4nvvrxuczix2326vlti" class="fa fa-bug"> 报告错误</a>
            </li>
         <ul>
      </div>


</footer>

        </div>
      </div>

    </section>

  </div>
  <div class="rst-versions" data-toggle="rst-versions" role="note" aria-label="document versions">
<ul id="versionwrap" role="presentation">
   <li style="float:left" role="presentation">
		<span id="version-dropdown" class="version-btn" tabindex="0" role="button" aria-label="versions selector" aria-haspopup="true" aria-controls="version-vsnlist" aria-disabled="true">
		2.90 
		</span>
		<ul id="version-vsnlist" class="version-list" role="menu" aria-labelledby="version-dropdown" aria-hidden="true">
			<li role="presentation">Loading...</li>
		</ul>
	</li>
   <li style="float:right" role="presentation">
		<span id="lang-dropdown" class="version-btn" tabindex="0" role="button"  aria-label="language selector" aria-haspopup="true" aria-controls="version-langlist">
			 zh-hans 
		</span>
		<ul id="version-langlist" class="version-list" role="menu" aria-labelledby="lang-dropdown" aria-hidden="true">
			<li role="presentation">Loading...</li>
		</ul>
	</li>
</ul>
</div>

  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script>

  
  
    
  
 
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-1418081-1', 'auto');
ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

</body>
</html>